.env

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/

# Next.js
apps/web/.next/
apps/web/out/
apps/web/.turbo/

# Strapi
apps/cms/.cache/
apps/cms/build/
apps/cms/.tmp/

